{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

<h1> ici sera la page d'accueil</h1>
<hr>
<p>
<ul>
<li>image</li>
<li>notre concept</li>
<li></li>
<li>La personnalisation</li>
<li>La boutique</li>
<li>Catégorie</li>
<li>Les massages</li>
<li>Le traiteur</li>
<li>La galerie photo</li>
<li>Les avis</li>
<li>Nous trouver</li>
<li>Formulaire</li>
</ul>
</p>


	<hr>
    <div class="container">
	<h1>Les services</h1>
	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam et, sequi ipsum dolor vitae unde!"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icone': 'fas fa-check',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam et, sequi ipsum dolor vitae unde!"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icone': 'fas fa-lock',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam et, sequi ipsum dolor vitae unde!"
        } %}
        <hr>

		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam et, sequi ipsum dolor vitae unde!"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam et, sequi ipsum dolor vitae unde!"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam et, sequi ipsum dolor vitae unde!"
        } %}
        <hr>
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam et, sequi ipsum dolor vitae unde!"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam et, sequi ipsum dolor vitae unde!"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam et, sequi ipsum dolor vitae unde!"
        } %}
	</div>
</div>
</div>
{% endblock %}
