<nav class="fond navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">Secret Dream</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor03">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="\">Le Concept
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Balnéo</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Personnalisation</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Massages</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Traiteur</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="boutique">Boutique</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Photos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Tarifs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Photos</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nous trouver</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Adresse</a>
								<a class="dropdown-item" href="#">Nous situer</a>
								<a class="dropdown-item" href="#">Coordonnées</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Nous contacter</a>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav">
					{# S'il y a un user, je veux qu'il puisse se déconnecter #}
					{% if app.user %}	
						<li class="nav-item"><a href="{{ path('app_security_logout') }}" class="btn btn-danger">Déconnexion</a></li>
					{% else %}
						<li class="nav-bar"><a href="#" class="nav-link">Inscription</a></li>
						<li class="nav-item"><a href="{{ path('app_security_login') }}" class="btn btn-success">Connexion</a></li>
					{% endif %} 	
					</ul>
				</div>
			</div>
		</nav>
